.home {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section {
  display: grid;
  justify-content: center;
}

.img {
  width: 171px;
  height: 243.77px;
}
.text {
  display: grid;
}
.h1 {
  width: 231px;
  height: 25.71px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fffcf9;
}
.p {
  margin-top: 50px;
  width: 423px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fffcf9;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 180.98px;
  height: 47px;
  background: #e9e6e3;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 30px auto;
}

.erro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
.fraseCode {
  color: #fff;
  font-size: 1rem;
}
.h2 {
  margin-top: 20px;
  color: #67dd0a;
  font-size: 1rem;
}
.carregando {
  margin: 50px auto;
  color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 50px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: girar 0.2s infinite;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}
